@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* * {
  font-family: "Tajawal", sans-serif !important;
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  padding : 0 !important;
  max-width : 100vw;
  width : 100vw;
  margin : 0 !important;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  max-width: 100vw;
  /* overflow-x: hidden; */
  margin : 0 !important;
  padding: 0 !important;

}

/* main {
  font-family: "Tajawal", sans-serif !important;
} */

html :nth-child(0):not(main) {
  display : none;
}

.inner-custom-shadow {
  box-shadow: inset 0 -50px 250px rgba(0,0,0,0.8);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.why-us-container div {
  z-index : 10;
}

.why-us-container {
  z-index : 10;
}


.why-us-container::before {
  content: '';
  background : linear-gradient(to right, #00D296, #00EAEA);;
  position : absolute;
  border-radius : .75rem;
  width : 100px;
  height : 100px;
  top : -10px;
  right : -10px;
  /* z-index : 10; */
}

.why-us-container::after {
  content: '';
  background : linear-gradient(to right, #00D296, #00EAEA);;
  position : absolute;
  border-radius : .75rem;
  width : 100px;
  height : 100px;
  bottom : -10px;
  left : -10px;
  /* z-index : 0; */
}